body {
  background-color: rgba(153, 186, 221, 0.8);
}

h1 {
  text-align: center;
  font-family: Arial;
  font-size: 36px
}

#img-div {
  text-align: center;
  font-family: Georgia;
}

#tribute-info {
  padding: 0 20%;
  font-family: Georgia;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  font-weight: 600;
}